:root {
    --primary-color: #ffe1ff;
    --secondary-color: #de03de;
    --accent-color: #480148;
    --text-color:#fde8fd;
    --background-color: #262326;
}

body {
    font-family: "poppins", sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.back-to-menu {
    position: absolute;
    top: 20px; /* Odstęp od góry */
    left: 20px; /* Odstęp od lewej krawędzi */
    z-index: 1000; /* Zapewnia, że przycisk jest na wierzchu */

    color: var(--text-color); /* Używa domyślnego koloru tekstu strony */
    text-decoration: none; /* Usuwa podkreślenie */
    font-size: 14px; /* Standardowy rozmiar tekstu */
    transition: font-size 0.3s ease; /* Płynna zmiana rozmiaru po najechaniu */
    left: 30%;
}

.back-to-menu:hover {
    font-size: 15px; /* Powiększenie tekstu po najechaniu */
    text-decoration: none; /* Podkreślenie nadal wyłączone */
}

.menu-link {
    margin: 300px;
    font-size: 16px; /* Ustawienie rozmiaru czcionki */
    position: relative; /* Potrzebne do przesunięcia */


    color: var(--text-color); /* Dziedziczy kolor strony */
    text-decoration: none; /* Usunięcie podkreślenia */
    transition: font-size 0.3s ease, color 0.3s ease; /* Płynna animacja powiększania i zmiany koloru */
}

.menu-link:hover {
    font-size: 18px; /* Powiększenie tekstu po najechaniu */
    color: var(--primary-color); /* Zmiana koloru na czerwony po najechaniu (można dostosować) */
    text-decoration: none; /* Podkreślenie nadal wyłączone */
}

h1 {
    text-align: center;
    color: #f7b2e1;
}

label {
    color: #f7b2e1;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: #e381e1;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--background-color);
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    width: 50%;
    margin: 20px auto;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
}

.completed {
    background-color: #02d147;
}

.in-progress{
    background-color:  #ffeeba;
}

.no-style {
    background-color: var(--background-color); /* Usunięcie tła */
    border: 0 0 0 0 solid var(--background-color); /* Usunięcie obramowania */
}
